.link {
  padding: 7px;
  color: bisque;
  background-color: chocolate;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  height: fit-content;
}

.link:hover {
  background-color: brown;
  color: bisque;
  font-weight: normal;
}

.div-top {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.new-post {
  margin-top: 60px;
  border-width: 2px;
  border-radius: 7px;
  border-color: brown;
  border-style: outset;
  width: 70%;
  height: auto;
}

textarea {
  border: none;
  width: 100%;
  height: fit-content;
  color: brown;
}

textarea:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li > a {
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  color: brown;
}

li > a:hover {
  color: rgb(123, 35, 0);
  font-weight: bold;
}

#title {
  border: none;
  font-size: medium;
  font-weight: bold;
  width: 100%;
  color: rgb(123, 35, 0);
}

#title:focus {
  outline: none;
}

button {
  width: max-content;
}

.popup-container {
  position: relative;
  background-color: rgb(251, 243, 234);
  width: fit-content;
  height: 100%;
  border: 1px solid brown;
  border-radius: 10px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .div-top {
    flex-direction: column;
    align-items: center;
  }

  .new-post {
    width: 90%;
  }

  .card {
    max-width: 100%;
  }

  .popup-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .link {
    font-size: medium;
    padding: 5px;
  }

  .new-post {
    width: 100%;
    margin-top: 20px;
  }

  .card {
    margin: 0 10px;
  }

  .popup-container {
    width: 100%;
  }

  h3 {
    font-size: large;
  }

  h5 {
    font-size: medium;
  }
}
