div > a {
  padding: 7px;
  color: bisque;
  background-color:chocolate;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  height: fit-content;
  width: 75%;
  justify-self: start;
}

div > a:hover {
  background-color: brown;
}

.div-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  max-height: 120px;
}


.post {
  margin-top: 50px;
  color: rgb(132, 50, 2);
}

.my-card {
  max-height: 30px;
  min-width: max-content;
  flex-direction: row;
  justify-content: end;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li > a {
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  color: brown;
  width: min-content;

}

li > a:hover {
  color: rgb(123, 35, 0);
  font-weight: bold;
}

button {
  width: max-content;
}

.popup-container {
  position: relative;
  margin-top: 45px;
  height: fit-content;
  background-color: rgb(251, 243, 234);
  width: fit-content;
  padding: 0 10px;
  border: 1px solid brown;
  border-radius: 10px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup button {
  margin-top: 10px;
}

.btn {
  max-height: min-content;
  width: fit-content;
  padding-top: 0;
  margin-left: 20px;
}
