div > a {
  padding: 7px;
  color: bisque;
  background-color:chocolate;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  height: fit-content;
  width: 75%;
  justify-self: start;
}

div > a:hover {
  background-color: brown;
}

.div-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}


.post {
  margin-top: 50px;
  margin-bottom: 120px;
  color: rgb(132, 50, 2);
}

.my-card {
  min-width: max-content;
  justify-content: space-between;
  max-height: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li > a {
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  color: brown;
  width: min-content;

}

li > a:hover {
  color: rgb(123, 35, 0);
  font-weight: bold;
}

button {
  width: max-content;
}

.popup-container {
  margin-top: 45px;
  height: fit-content;
  background-color: rgb(251, 243, 234);
  width: fit-content;
  padding: 0 10px;
  border: 1px solid brown;
  border-radius: 10px;
  justify-self: end;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup button {
  margin-top: 10px;
}

.btn {
  width: fit-content;
  margin-top: 5px;
}

.desc {
  max-width: 70%;
}

.idk {
  margin-left: 200px;
}
