a {
  padding: 7px;
  color: bisque;
  background-color:chocolate;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  height: fit-content;
}

a:hover {
  padding: 8px;
  background-color: brown;
}

.div-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.profile-container > :not(:first-child) {
  margin-left: 60px;
  margin-top: 50px;
}

.change {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.form {
  width: 80%;
  margin-bottom: 50px;
}

.change > :first-child {
  margin-bottom: 20px;
}
